# Runtime mode
APP_ENV=dev
APP_LOG_LEVEL=INFO
MOCK_MODE=true

# API
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Database
DATABASE_URL=sqlite:///./automation_factory_lite.db
POSTGRES_DB=aflite
POSTGRES_USER=aflite
POSTGRES_PASSWORD=aflite

# LLM
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
ENABLE_LANGGRAPH=false

# AWX
AWX_MODE=mock
AWX_URL=
AWX_TOKEN=
AWX_VERIFY_TLS=false
AWX_ORGANIZATION=AutomationFactory
AWX_PROJECT=AutomationFactoryProject
AWX_INVENTORY=AutomationFactoryInventory
AWX_CREDENTIAL_ID=
AWX_PROJECT_SCM_TYPE=git
AWX_PROJECT_SCM_URL=
AWX_PROJECT_SCM_BRANCH=main
AWX_PROJECT_SCM_UPDATE_ON_LAUNCH=false
AWX_MACHINE_CREDENTIAL_NAME=

# Targets
TARGET_HOST_1=192.168.250.30
TARGET_HOST_1_NAME=ol9server1
TARGET_HOST_2=192.168.250.40
TARGET_HOST_2_NAME=rocky9server1
